body {
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.skill-progress {
  width: 500px;
  padding: 20px;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.089);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ffffff;
}

.skill-progress h1 {
  text-align: center;
}

.item p {
  /* border: 1px solid #fff; */
  overflow: hidden;
  margin-bottom: 5px;
}

.item p span:nth-child(1) {
  float: left;
}

.item p span:nth-child(2) {
  float: right;
}

.progress {
  border: 1px solid #6cd4c4;
  padding: 5px;
  border-radius: 3px;
}

.progress-level {
  height: 10px;
  background: linear-gradient(to right, crimson, gold);
  animation-name: ani;
  animation-duration: 1s;
}

@keyframes ani {
  0% {
    width: 0;
  }
}